　 <%= form_with model: @question, local: true  do |f| %>
  <% if @current_user %> 
  <%= f.hidden_field:user_id,{ value: @current_user.id} %>
  <%= f.hidden_field:name,{ value: @current_user.name} %>
  <% end %>
           <div class="form-group">
            <label>タイトル</label>
            <%= f.text_field :title, class:"form-control" %>
        </div>
           <div class="form-group">
            <label>スレッド内容</label>
            <%= f.text_area :content, class:"form-control" %>
        </div>
          <span class="picture">
            <%= f.file_field :picture %>
        </span>
        <div class="form-group">
         <span>タグ</span>
         
    <%= f.collection_check_boxes(:tag_ids, Tag.all, :id, :name) do |tag| %>
      <div class="form-check">
        <%= tag.label class: 'form-check-label' do %>
          <%= tag.check_box class: 'form-check-input' %>
          <!--第四引数の名前出力-->
          <%= tag.text %>
        <% end %>
      </div>
        <% end %>
      </div>
        <div class="text-center">
            <%= f.submit "投稿",class:"btn btn-primary" %>
        </div>
        
        <% end %>
        <%= link_to 'スレッド一覧画面へ', root_path %>