<div class="d-flex align-items-center">
  <h1>スレッド一覧</h1>
  <div class="ml-auto boards__linkBox">
    <%= form_tag questions_path, method: :get, class: 'questions__searchForm' do %>
      <%= select_tag :tag_id,
                     options_from_collection_for_select(Tag.all, :id, :name, params[:tag_id]),
                     {
                       prompt: 'タグで絞り込み',
                       class: 'form-control questions__select',
                       onchange: 'submit(this.form);'
                     }
      %>
    <% end %>
    <% if @current_user %>
            <%= link_to '新規作成', new_question_path,class: 'btn btn-outline-dark' %>
    <% end %>
  </div>
</div>
<div class = row>
    <div class = "col-md-12">
        <table class = "table table-striped">
            <thead class="thead-light">
                <tr>
                    <th></th>
                    <th>名前</th>
                    <th>タイトル</th>
                    <th>タグ</th>
                    <th>最終更新日時</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <% @questions.each do|question| %>
                <tr>
                    <td>
                        <% if !question.user.nil? %>
                           <%= gravatar_for question.user %>
                         <% end %>
                     </td>
                    <td><%= question.name %></td>
                    <td><%= link_to question.title, question_path(question) %></td>
                     <td>
                    <% if question.tags.any? %>
                        <%  question.tags.each do |tag| %>
                    <span class="badge badge-primary"><%= tag.name %></span>
                        <% end %>
                    <% end %>
                    </td>
                    <td><%= question.updated_at.to_s(:datetime_jp) %></td>
                    <td>
                         <% if @current_user %>
                        <% if (@current_user && @current_user.id == question.user_id) || @current_user.admin %>
                        [<%= link_to '編集',edit_question_path(question) %>]
                        [<%= link_to '削除',question_path(question),method: :delete, data:{ confirm: '本当に削除しますか'} %>]
                        <% end %>
                        <% end %>
                    </td>
                </tr>
                <% end %>
            </tbody>
        </table>
        <%= paginate @questions %>
    </div>
    
</div>
        