<div class = "row">
   <div class = "col-md-12"> 
        <section class="user_info">
            <%= gravatar_for @question.user %>
            <%= @question.user.name %>
         </section>
     <table class = "table table-striped">
       <tr>
         <td>タイトル</td>
         <td><%= @question.title %></td>
       <tr>
         <td>スレッド内容</td>
         <td><%= @question.content %></td>
       </tr>
     </table>
       <div>
            <%= image_tag @question.picture.url if @question.picture? %>
        </div>
        
        <% if @question.tags.any? %>
        <div>
         <% @question.tags.each do |tag| %>
      <span class="badge badge-primary"><%= tag.name %></span>
         <% end %>
         </div>
        <% end %>
        <hr>
        <div>
            <h3>レス一覧</h3> 
            <table class = "table table-striped">
                <!--質問に配列で回答入ってるよ-->
                <% if @question.answers.any? %>
                <thead class="thead-light">
                    <tr>
                        <td></td>
                         <td>名前</td>
                         <td>内容</td>
                         <td></td>
                         <td></td>
                    </tr>
                </thead>
                <tbody>
                    <% @question.answers.each do |answer| %>
                    
                    <tr>
                        <td> 
                        <% if !answer.user.nil? %>
                           <%= gravatar_for answer.user %>
                         <% end %>
                         </td>
                         <td>
                            <%= answer.name %>
                        </td>
                        <td>
                            <%= answer.content %>
                        </td>
                        <td>
                         <%= image_tag answer.picture.url if answer.picture? %>
                        </td>
                        <td>
                             <% if @current_user && @current_user.id == answer.user_id %>
                                   [<%= link_to '編集',edit_question_answer_path(@question,answer) %>]
                                   [<%= link_to '削除',question_answer_path(@question,answer),
                                   method: :delete, data:{ confirm: '本当に削除しますか？'} %>]
                             <% end %>
                        </td>
                    </tr>
                    <% end %>
                </tbody>
                <% else %>
                <p>レスはありません。投稿してみませんか？</p>
                <% end %>
                </table>
        </div>
        
         <hr>
        <% if @current_user %>
        <div>
            <h2>レス投稿</h2>
        </div>
         <section class="user_info">
            <%= gravatar_for @current_user %>
            <%= @current_user.name %>
         </section>
        <%= form_with model: [@question,@answer],local: true do |f| %>
          <%= f.hidden_field:name,{ value: @current_user.name} %>
          <%= f.hidden_field:user_id,{ value: @current_user.id} %>
          <%= f.hidden_field:question_id,{ value: @question.id} %>
        <div class="form-qroup">
            <label>内容</label>
        <%= f.text_area:content,class: 'form-control',rows: '6' %>
        <span class="picture">
            <%= f.file_field :picture %>
        </span>
        <div class="text-center">
            <%= f.submit "投稿",class: 'btn btn-primary' %>
        </div>
        <% end %>
         </div>
        <% end %>
        <div>
            <%= link_to 'スレッド一覧へ',questions_path %>
        </div>
    </div>
</div>