<div class = "row">
  <div class = "col-md-6 offset-md-3">
      <h1>マイページ</h1>
     <table class = "table table-striped">
       <tr>
         <td>アイコン</td>
         <td><%= gravatar_for @current_user %></td>
       <tr>
         <td>お名前</td>
         <td><%= @current_user.name %></td>
       </tr>
       <tr>
         <td>メールアドレス</td>
         <td><%= @current_user.email %></td>
       </tr>
       <tr>
         <td>自己紹介</td>
         <td>
         <% if @current_user.profile.present? %>
           <%= simple_format(@current_user.profile) %>
         <% end %>
         </td>
       </tr>
       <tr>
         <td></td>
         <td><%= button_to '編集',edit_user_path(@current_user),{method: :get} %></td>
        </tr>
    </table>
  </div>
</div>
