        <section class="user_info">
            <%= gravatar_for @current_user %>
            <%= @current_user.name %>
        </section>
        <%= form_with model: [@question,@answer],local: true do |f| %>
          <%= f.hidden_field:name,{ value: @current_user.name} %>
          <%= f.hidden_field:user_id,{ value: @current_user.id} %>
          <%= f.hidden_field:question_id,{ value: @question.id} %>
        <div class="form-qroup">
            <label>内容</label>
        <%= f.text_area:content,class: 'form-control',rows: '6',cols: '10' %>
        <span class="picture">
            <%= f.file_field :picture %>
        </span>
        <div class="text-center">
            <%= f.submit "投稿",class: 'btn btn-primary' %>
        </div>
        <% end %>
         </div>